/* declaracao de variaveis */
:root {
    --cor-primaria: #2e7d44;
    --cor-primaria-clara: #4CAF50;
    --cor-fundo: #F5F0E8;
    --cor-texto: #2C2C2C;
    --raio: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.7;
}

.header {
    background-color: var(--cor-primaria);
    padding: 0 24px;
    position: sticky;
    top: 0;
}


.divheader {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--cor-primaria);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-size: 0.9rem;
    color: white;
}

.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--cor-primaria);

    display: flex;
    align-items: center;

    padding: 0 15px;
}

.barra-pesquisa {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;

    font-size: 0.9rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imagemlogo {
    font-size: 2rem;
}

.logo-topo  {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-left: 30px;
}

.conteudo-principal {
    margin-top: 71px; 
    display: flex;
    justify-content: center;
}

.carrossel-container {
    width: 100%;
    max-width: 400px; 
    overflow: hidden;
    height: 40px;
}

.carrossel-track {
    display: flex;
    width: fit-content; 
    animation: carrosselinft 10s linear infinite;
}

.slide-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: center;
    flex: 0 0 calc(400px / 3); 
    height: 60px;
    background-color: var(--cor-primaria-clara);
    border: 2px solid var(--cor-fundo); 
    color: white;
    font-weight: bold;
}

@keyframes carrosselinft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 4));
    }
}

.carrossel-track:hover {
    animation-play-state: paused;
}
